[Unit]
Description = Ble Button Controller with Dash Button

[Service]
ExecStart = /usr/local/bin/node /opt/DashBtnLauncher/DashBtnLauncher.js -b XX:XX:XX:XX:XX:XX -e echo hoge
Restart = always
Type = simple

[Install]
WantedBy = multi-user.target
